[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse
[submodule "lib/adios2"]
	path = lib/adios2
	url = https://github.com/ornladios/ADIOS2
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
